* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "almendra";
  src: url(../fuentes/AlmendraSC-Regular.ttf);
}
@font-face {
  font-family: "geraldine";
  src: url(../fuentes/Geraldine\ Regular.ttf);
}
body {
  background-image: url(../img/istockphoto-1170425306-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-logo {
  width: 35px;
  margin: 5px;
}

ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "geraldine";
  font-size: 13px;
}

.navbar {
  background-color: rgba(163, 127, 97, 0.4980392157);
}

@media (min-width: 1000px) {
  .navbar {
    gap: 100px;
  }
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.303);
  border: #dbfcff;
}

.nav-item:hover {
  background-color: rgba(163, 127, 97, 0.4980392157);
  transition: background-color 0.5s;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: rgba(0, 0, 0, 0.871);
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.761);
  font-family: "geraldine";
}
footer h5 {
  position: relative;
  top: 2px;
  font-size: 12px;
}

footer hr {
  color: rgba(255, 255, 255, 0.389);
  font-size: 10px;
  width: 70px;
}

.menu-lo {
  font-family: "almendra";
  font-size: 20px;
  color: rgba(163, 127, 97, 0.4980392157);
}

.section1-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 570px;
}
.section1-index h1 {
  font-family: "almendra";
  font-size: 30px;
  color: #bf9d60;
  position: relative;
  top: 5px;
}
.section1-index h2 {
  font-family: "almendra";
  font-size: 20px;
  color: #bf9d60;
  font-weight: 400;
}

.section2-index {
  margin-top: 70px;
  gap: 5px;
}
.section2-index h2 {
  margin-left: 20px;
  font-family: "almendra";
  color: rgba(163, 127, 97, 0.4980392157);
  position: relative;
  top: 5px;
}

.chef-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .chef-4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
  }
}
@media (min-width: 1110px) {
  .chef-4 {
    gap: 100px;
    margin: 10px;
  }
}
#chef-2 {
  margin: 5px;
  font-size: 16px;
  text-align: center;
  font-family: "geraldine";
}

@media (min-width: 1110px) {
  #chef-2 {
    font-size: 18px;
  }
}
.chef-img {
  max-width: 100%;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .chef-img {
    width: 500px;
  }
}
@media (min-width: 1110px) {
  .chef-img {
    width: 350px;
  }
}
.titulo1-historia {
  margin: 10px 10px 0px 10px;
  text-align: center;
  color: #bf9d60;
  font-family: "almendra";
  font-size: 40px;
}

.p1-historia {
  margin: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "geraldine";
}

.section1-historia {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .section1-historia img {
    width: 520px;
    height: 300px;
  }
}
.img-historia {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin: 10px;
}

.section1-reservas {
  margin: 15px;
  text-align: center;
  background-color: rgba(163, 127, 97, 0.4980392157);
  background-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  position: relative;
  top: 100px;
}

@media (min-width: 800px) {
  .section1-reservas {
    margin-left: 55px;
    margin-right: 55px;
  }
}
@media (min-width: 1110px) {
  .section1-reservas {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.form1-reservas {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  bottom: 37px;
  gap: 5px;
}

.item2-reservas {
  width: 200px;
  justify-content: center;
  border-radius: 5px;
  border: 0;
}

@media (min-width: 500px) {
  .item2-reservas {
    width: 400px;
  }
}
@media (min-width: 1000px) {
  .item2-reservas {
    width: 500px;
  }
}
.item-reservas {
  font-family: "almendra";
}

.titulo1-reservas {
  font-family: "geraldine";
  color: #b09360;
  background-color: rgba(163, 127, 97, 0.4980392157);
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px;
  font-size: 50px;
  font-weight: 300;
  position: relative;
  bottom: 88px;
}

.boton {
  background-color: rgba(3, 3, 3, 0.822);
  color: rgba(245, 245, 245, 0.4980392157);
  font-family: "alemendra";
  border-radius: 10px;
  width: 120px;
  position: relative;
  top: 15px;
  left: 35px;
}

@media (min-width: 500px) {
  .boton {
    width: 150px;
    left: 120px;
  }
}
@media (min-width: 1000px) {
  .boton {
    width: 170px;
    left: 166px;
  }
}
.footer {
  position: relative;
  top: 83px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(101, 94, 94, 0.2);
  transition: transform 0.3s ease;
  border-radius: 5px;
  width: 288px;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: "almendra";
}

.card-text {
  font-size: 14px;
  text-align: center;
  font-family: "geraldine";
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#entradas, #carnes, #pastas, #pescados, #ensaladas, #postres, #bebidas {
  display: none;
}

#section1-contacto {
  background-image: url(../img/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.item1-contacto {
  font-family: "almendra";
  font-size: 30px;
}

.item2-contacto, .item3-contacto, .item4-contacto, .item5-contacto {
  font-family: "geraldine";
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6235294118);
}

#section2-contacto {
  background-image: url(../img/21a232f7-bbd9-4787-8472-30f686861a5d.jpg);
  margin: 10px;
}

.form1-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "geraldine";
  text-align: center;
}
.form1-contacto h2 {
  font-size: 30px;
  margin-top: 5px;
  font-family: "almendra";
}
.form1-contacto .item6-contacto {
  color: rgba(245, 245, 245, 0.4980392157);
}

.item7-contacto {
  width: 250px;
  border-radius: 5px;
  border: solid 3px #bf9d60;
}

.texto {
  width: 250px;
  height: 100px;
  border-radius: 5px;
  border: solid 3px #bf9d60;
}

@media (min-width: 768px) {
  #entradas:checked ~ .container-cards,
  #carnes:checked ~ .container-cards,
  #pastas:checked ~ .container-cards,
  #pescados:checked ~ .container-cards,
  #ensaladas:checked ~ .container-cards,
  #postres:checked ~ .container-cards,
  #bebidas:checked ~ .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
    bottom: 263px;
    margin-left: 150px;
    height: 115px;
  }
}
@media (min-width: 1110px) {
  #entradas:checked ~ .container-cards,
  #carnes:checked ~ .container-cards,
  #pastas:checked ~ .container-cards,
  #pescados:checked ~ .container-cards,
  #ensaladas:checked ~ .container-cards,
  #postres:checked ~ .container-cards,
  #bebidas:checked ~ .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    margin-left: 150px;
    bottom: 263px;
    margin-left: 150px;
    height: 115px;
  }
}
@media (min-width: 768px) {
  #entradas:checked ~ .container-opciones {
    align-items: flex-start;
    top: 0px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #carnes:checked ~ .container-opciones {
    align-items: flex-start;
    top: -15px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #pastas:checked ~ .container-opciones {
    align-items: flex-start;
    top: -18px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #pescados:checked ~ .container-opciones {
    align-items: flex-start;
    top: -20px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones {
    align-items: flex-start;
    top: -20px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #postres:checked ~ .container-opciones {
    align-items: flex-start;
    top: 0px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #bebidas:checked ~ .container-opciones {
    align-items: flex-start;
    top: 0px;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  #entradas:checked ~ .container-opciones .label-entradas {
    position: relative;
    top: 0px;
  }
}
@media (min-width: 768px) {
  #carnes:checked ~ .container-opciones .label-entradas {
    position: relative;
    top: 160px;
  }
}
@media (min-width: 768px) {
  #carnes:checked ~ .container-opciones .label-carnes {
    position: relative;
    top: -120px;
  }
}
@media (min-width: 768px) {
  #pastas:checked ~ .container-opciones .label-pastas {
    position: relative;
    top: -290px;
  }
}
@media (min-width: 768px) {
  #pastas:checked ~ .container-opciones .label-carnes {
    position: relative;
    top: 155px;
  }
}
@media (min-width: 768px) {
  #pastas:checked ~ .container-opciones .label-entradas {
    position: relative;
    top: 165px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones .label-ensaladas {
    position: relative;
    top: -431px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones .label-entradas {
    position: relative;
    top: 176px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones .label-carnes {
    position: relative;
    top: 173px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones .label-pastas {
    position: relative;
    top: 170px;
  }
}
@media (min-width: 768px) {
  #pescados:checked ~ .container-opciones .label-pescados {
    position: relative;
    top: -589px;
  }
}
@media (min-width: 768px) {
  #ensaladas:checked ~ .container-opciones .label-pescados {
    position: relative;
    top: 10px;
  }
}
@media (min-width: 768px) {
  #pescados:checked ~ .container-opciones .label-ensaladas {
    position: relative;
    top: 160px;
  }
}
@media (min-width: 768px) {
  #pescados:checked ~ .container-opciones .label-entradas {
    position: relative;
    top: 170px;
  }
}
@media (min-width: 768px) {
  #pescados:checked ~ .container-opciones .label-carnes {
    position: relative;
    top: 163px;
  }
}
@media (min-width: 768px) {
  #pecados:checked ~ .container-opciones .label-pastas {
    position: relative;
    top: 150px;
  }
}
@media (min-width: 768px) {
  #postres:checked ~ .container-opciones .label-postres {
    position: relative;
    top: -767px;
  }
}
@media (min-width: 768px) {
  #bebidas:checked ~ .container-opciones .label-bebidas {
    position: relative;
    top: -926px;
  }
}

/*# sourceMappingURL=styles.css.map */
