#entradas,#carnes, #pastas, #pescados, #ensaladas, #postres, #bebidas{
    display: none;
}

.carne, .entrada, .pasta, .pescado , .ensalada , .postre, .bebida{
    display: none;
}



.container-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
#entradas:checked ~ .container-opciones .label-entradas{
    position: relative;
    bottom: 2225px;
}
#entradas:checked ~ .container-cards .entrada {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 770px;
}

#entradas:checked ~ .container-opciones{
    position: relative;
    top: 2226px;
}
@media (min-width:768px) {
    .menu{
        display: grid;
        grid-template-columns: 1fr 7fr;
    }
}
@media (min-width:768px) {
    .footer-menu{
        width: 400px;
    }
}
@media (min-width:1110px) {
    #entradas:checked ~ .container-cards{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        justify-items: center;
        position: relative;
        top: 500px;
    }
}
@media (min-width:768px) {
    #entradas:checked ~ .container-opciones {
        align-items: flex-start;
        top: 0px;
        justify-items: center;
        }
}

@media (min-width:1110px) {
    #entradas:checked ~ .container-opciones {
        display: grid;

}
}

@media (min-width:768px) {
    #entradas:checked ~ .container-opciones .label-entradas{
        position: relative;
        top: 0px;
    }
}

.img-label {
    width: 100px; height: 100px;
    transition: all 1s;       
}
.img-label:hover {
    transform: scale(1.3);
    filter:drop-shadow(0 0 15px  #00000069);
}

.card {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s;
    background-color: black;
}

.card{
    display: none
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    color: #ffffffcb;
    font-size: 20px;
    font-family: 'almendra';
    text-align: center;
}

.card-text {
    color: #ddbf88;
    font-family: 'geraldine';
    text-align: center;
    font-size: 14px;
}


.card-img-top {
    max-width: 100%;
}

.card-img-top{
    width: 290px;
    height: 180px;
}


.boton-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 25px;
    background-color: black;
    color: black;
    font-family: 'geraldine';
    transition: background-color 0.1s;
    position: relative;
    left: 83px;
    border-radius: 5px;
}

.boton-menu:hover {
    background-color: #ffffffcb;
    transition-delay: 0.1s;
}

.container-opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 20px;
}

.container-opciones h2{
    text-align: center;
    font-family: 'geraldine';
    color:#a37f617f ;
    margin: 5px;
}
.container-opciones img {
    width: 70px;
    height: 60px;
}
