#entradas,#carnes, #pastas, #pescados, #ensaladas, #postres, #bebidas{
    display: none;
}


.carne, .entrada, .pasta, .pescado , .ensalada , .postre, .bebida,
.carne2, .entrada2, .pasta2, .pescado2 , .ensalada2 , .postre2, .bebida2{
    display: none;
}

.container-opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media (min-width:768px) {
    .container-cards {
        display: grid;
        grid-template-columns:1fr 1fr;
        text-align: center;
    }
}
@media (min-width:1110px) {
    .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
}
.container-opciones img {
    width: 70px;
    height: 60px;
}
@media (min-width:768px) {
    .container-opciones {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}
@media (min-width:1110px) {
    .container-opciones {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}


#entradas:checked ~ .container-opciones  ,
#carnes:checked ~ .container-opciones  ,
#pastas:checked ~ .container-opciones  ,
#pescados:checked ~ .container-opciones  ,
#postres:checked ~ .container-opciones  ,
#bebidas:checked ~ .container-opciones ,
#ensaladas:checked ~ .container-opciones {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: flex-start;
}

#entradas:checked ~ .container-cards .entrada,
#carnes:checked ~ .container-cards .carne,
#pastas:checked ~ .container-cards .pasta,
#ensaladas:checked ~ .container-cards .ensalada,
#pescados:checked ~ .container-cards .pescado,
#postres:checked ~ .container-cards .postre,
#bebidas:checked ~ .container-cards .bebida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
    background-color:rgba(0, 0, 0, 0.842);
    bottom: 1535px;
    position: relative;
    left: 100px;
}

#entradas:checked ~ .container-cards .entrada2,
#carnes:checked ~ .container-cards .carne2,
#pastas:checked ~ .container-cards .pasta2,
#ensaladas:checked ~ .container-cards .ensalada2,
#pescados:checked ~ .container-cards .pescado2,
#postres:checked ~ .container-cards .postre2,
#bebidas:checked ~ .container-cards .bebida2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 350px;
    background-color:rgba(0, 0, 0, 0.842);
    bottom: 1535px;
    position: relative;
    right: 80px;
}

#entradas:checked ~ .container-cards,
#carnes:checked ~ .container-cards,
#pastas:checked ~ .container-cards,
#ensaladas:checked ~ .container-cards,
#pescados:checked ~ .container-cards,
#postres:checked ~ .container-cards,
#bebidas:checked ~ .container-cards{
    gap: 10px;
}

.card-title , .card-text{
    color: white;
    font-size: 14px;
    font-family: 'geraldine';
    text-align: center;
    align-items: center;
}


.card-img-top{
    max-width: 100%;
    height: 180px;
}

.card .entrada2{
    position: relative;
    left: 500px;
}
