*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'almendra';
    src: url(../fuentes/AlmendraSC-Regular.ttf);
}
@font-face{
    font-family:'geraldine';
    src: url(../fuentes/Geraldine\ Regular.ttf);
}

@font-face{
    font-family:'meladu' ;
    src: url(../fuentes/MELADU\ ROSE.otf);
}
/* Variables */
$color-primero:#C6AC8F;
$color-segundo:#22333B;
$color-quinto:#EAE0D5;
$color-tercero:#0A0908;
$color-cuarto:#5E503F;

body{
background-color: $color-primero;
}

.img-logo{
    width: 35px;
    margin: 5px;
}
ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family:'geraldine';
    font-size: 13px;
}

.navbar {
    background-color: $color-segundo;
}
@media (min-width:1000px){
    .navbar{
        gap: 100px;
    }
}

.navbar-toggler{
    background-color: #22333B;
    border: 0px;
}
.nav-link{
    color:$color-primero;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: $color-segundo;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.761);
    font-family: 'geraldine';
    
    h5 {
    position: relative;
    top: 2px;
    font-size: 12px;
}
}

footer hr{
    color: rgba(255, 255, 255, 0.389);
    font-size: 10px;
    width: 70px;
}




.menu-lo{
    font-family: 'almendra';
    font-size: 20px;
    color:$color-quinto;
}
img{
    max-width: 100%;
}