*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'almendra';
    src: url(../fuentes/AlmendraSC-Regular.ttf);
}
@font-face{
    font-family:'geraldine';
    src: url(../fuentes/Geraldine\ Regular.ttf);
}

body{
    background-image:url(../img/istockphoto-1170425306-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo{
    width: 35px;
    margin: 5px;
}
ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family:'geraldine';
    font-size: 13px;
}

.navbar {
    background-color:#a37f617f;

}
@media (min-width:1000px){
    .navbar{
        gap: 100px;
    }
}
.navbar-toggler{
    color:rgba(0, 0, 0, 0.303) ;
    border: #dbfcff;
}

.nav-item:hover{
    background-color:#a37f617f ;
    transition: background-color 0.5s;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: rgba(0, 0, 0, 0.871);
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.761);
    font-family: 'geraldine';
    
    h5 {
    position: relative;
    top: 2px;
    font-size: 12px;
}
}

footer hr{
    color: rgba(255, 255, 255, 0.389);
    font-size: 10px;
    width: 70px;
}




.menu-lo{
    font-family: 'almendra';
    font-size: 20px;
    color:#a37f617f ;
}