.titulo1-historia{
    margin:  30px 10px 10px 10px;
    text-align: center;
    color: $color-segundo;
    font-family: 'meladu';
    font-size: 40px;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 .img-historia{
    @include sizes(300px, 200px);
 }

.p1-historia{
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'geraldine';
    color: $color-cuarto;
}

.section1-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width:768px){
    .section1-historia img {
        width: 520px;
        height: 300px;
    }
}
.img-historia{
    border-radius: 20px;
    margin: 10px;
    filter:drop-shadow(0 0 30px  #00000069);
}

