.section1-index{ 
    @extend .display;
    height: 570px;


    img{
        width: 90px;
        height: 100px;
        position: relative;
        top: 180px;
    }

    h1{
    font-family: 'meladu';
    font-size: 30px;
    color:$color-primero;
    position: relative;
    top: 20px;
}
    h2{
    font-family: 'meladu';
    font-size: 20px;
    color: $color-primero;
    font-weight: 400;
}
}
@media (min-width:768px){
    .section1-index  {
        height: 650px;
    }
}
@media (min-width:768px){
    .section1-index h2 {
        font-size: 30px;
    }
}
@media (min-width:768px){
    .section1-index img {
        top: 200px;
    }
}
.h1-destacado-index{
    font-family: 'meladu';
    font-size: 60px;
    margin: 10px;
    font-weight: 400;
    color: $color-quinto;
}
@media (min-width:768px){
    .h1-destacado-index{
        font-size: 70px;
    }
}
#body-index{
    background-image: url(../img/sobremesa-madera-vacia-fondo-borroso-interior-cafeteria-o-restaurante_7188-1381.jpg);
    background-repeat: no-repeat;
    background-size: 1050px;
}

@media (min-width:768px){
    #body-index{
        background-size: 1400px;
        height: 900px;
    }
}
.section2-index{
    margin-top: 70px;
    gap: 5px;
    background-color: $color-primero;
    
    h2 { 
    margin-left: 20px;
    font-family: 'almendra';
    color:$color-segundo;
    position: relative;
    top: 5px;
}
}

.chef-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media (min-width:768px) {
    .chef-4 {
        display: grid;
        grid-template-columns:2fr 1fr;
        margin: 10px;
    }
}
@media (min-width:1110px) {
    .chef-4 {
        gap: 100px;
        margin: 10px;
    }
}

#chef-2 {
    margin: 5px;
    font-size: 16px;
    text-align: center;
    font-family: 'geraldine';
    color: $color-cuarto;
    }
    @media (min-width:1110px) {
        #chef-2 {
            font-size: 18px;
        }
    }
.chef-img{
    max-width: 100%;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media (min-width:768px) {
    .chef-img {
        width: 500px;
    }
}

@media (min-width:1110px) {
    .chef-img {
        width: 350px;
    }
}

