/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #C5C0C0;
}

header {
    background-color: #232323;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*OPACITY TOMA VALORES QUE VAN DEL 0 AL 1 Y DA TRANSPARENCIA*/
    opacity: .9;
    position: sticky;
    top: 0;
    padding: 15px;
}

header img {
    width: 120px;
    border-radius: 50%;

}

ul {
    list-style-type: none;
}

.lista-nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

/*BUENA PRACTICA TENERLO SIEMPRE*/
img {
    max-width: 100%;
}

.enlaces {
    color: #232323;
    background-color: #C5C0C0;
    padding: 5px 10px;
    border-radius: 15px;
}

.banner {
    background-image: url(../img/codigo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    background-color: #C5C0C0;
    text-align: center;
}

section {
    margin: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.h2-productos {
    margin-top: 20px;
}

.parrafo-desc {
    width: 85%;
    margin: 0 auto;
}

/*CARDS*/
.card {
    background-color: #232323;
    color: #C5C0C0;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
             /*AYA*/ /*COSTADOS*/
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card button {
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.padre-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*CONTENEDORES*/
.contenedor-padre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #232323;
    color: #C5C0C0;
}

.contenedor img {
    width: 450px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .contenedor-textos {
    text-align: right;
}

footer {
    background-color: #232323;
    color: #C5C0C0;
    text-align: center;
    padding: 30px;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 30%;
    right: 50px;
}

.icono-redes {
    width: 30px;
}

/*GALERIA*/
.galeria img {
    width: 350px;
    height: 200px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;

}

